reportePagoUD/cliente/TransaccionWS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2-hudson-740-. -->
<xs:schema xmlns:tns="http://localhost/reportePagoUD/ws/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://localhost/reportePagoUD/ws/">

	<xs:element name="actualizarTransaccion" type="tns:actualizarTransaccion" />

	<xs:element name="actualizarTransaccionResponse" type="tns:actualizarTransaccionResponse" />

	<xs:element name="creaTransaccion" type="tns:creaTransaccion" />

	<xs:element name="creaTransaccionResponse" type="tns:creaTransaccionResponse" />

	<xs:complexType name="creaTransaccion">
		<xs:sequence>
			<xs:element name="objTransaccion" type="tns:transaccion"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="transaccion">
		<xs:sequence>
			<xs:element name="banco" type="xs:string" minOccurs="0" />
			<xs:element name="cus" type="xs:string" minOccurs="0" />
			<xs:element name="descripcion" type="xs:string" minOccurs="0" />
			<xs:element name="estado" type="xs:string" minOccurs="0" />
			<xs:element name="fechaFin" type="xs:string" minOccurs="0" />
			<xs:element name="fechaInicio" type="xs:string" minOccurs="0" />
			<xs:element name="identificacionUsuario" type="xs:string"
				minOccurs="0" />
			<xs:element name="referencia" type="xs:string" minOccurs="0" />
			<xs:element name="tipoUsuario" type="xs:string" minOccurs="0" />
			<xs:element name="valor" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="creaTransaccionResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="actualizarTransaccion">
		<xs:sequence>
			<xs:element name="objTransaccion" type="tns:transaccion"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="actualizarTransaccionResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>